################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Bolerplate.Components.Api/obj
/Fraga.Components.Api/bin/Debug/net6.0
/Fraga.Components.Api/obj
/Fraga.Components.Application/bin/Debug/net6.0
/Fraga.Components.Application/obj
/Fraga.Components.Domain/bin/Debug/net6.0
/Fraga.Components.Domain/obj
/Fraga.Components.Infra.CrossCutting/obj
/Fraga.Components.Infra.MongoDb/bin/Debug/net6.0
/Fraga.Components.Infra.MongoDb/obj
/Fraga.Components.MongoDb.Domain/bin/Debug/net6.0
/Fraga.Components.MongoDb.Domain/obj
/Fraga.Components.Shared/bin/Debug/net6.0
/Fraga.Components.Shared/obj
/Fraga.Components.Infra.CrossCutting/bin/Debug/net6.0
/TestApi.Api/bin/Debug/net6.0
/TestApi.Application/bin/Debug/net6.0
/TestApi.Application/obj
/TestApi.Domain/bin/Debug/net6.0
/TestApi.Domain/obj
/TestApi.Infra/bin/Debug/net6.0
/TestApi.Infra/obj
/TestApi.Infra.CrossCutting/bin/Debug/net6.0
/TestApi.Shared/bin/Debug/net6.0
/TestApi.Shared/obj
/TestApi.Infra.CrossCutting/obj
/TestApi.Api/obj
/TestApi.Api/appsettings.Development.json
/TestApi.Api/appsettings.json
/Playground/TestApi.Api/bin/Debug/net6.0
/Playground/TestApi.Api/obj
/Playground/TestApi.Application/bin/Debug/net6.0
/Playground/TestApi.Application/obj
/Playground/TestApi.Domain/bin/Debug/net6.0
/Playground/TestApi.Domain/obj
/Playground/TestApi.Infra/bin/Debug/net6.0
/Playground/TestApi.Infra/obj
/Playground/TestApi.Infra.CrossCutting/bin/Debug/net6.0
/Playground/TestApi.Infra.CrossCutting/obj
/Playground/TestApi.Shared/bin/Debug/net6.0
/Playground/TestApi.Shared/obj/Debug/net6.0/ref/TestApi.Shared.dll
/Playground/TestApi.Shared/obj
/Fraga.Components.Api/bin
/Fraga.Components.Application/bin/Release/net6.0
/Fraga.Components.Domain/bin/Release/net6.0
/Fraga.Components.Infra.CrossCutting/bin/Release/net6.0
/Fraga.Components.Infra.MongoDb/bin/Release/net6.0
/Fraga.Components.MongoDb.Domain/bin/Release/net6.0
/Fraga.Components.Shared/bin/Release/net6.0
/Playground/TestApi.Api/bin/Release/net6.0
/Playground/TestApi.Application/bin/Release/net6.0
/Playground/TestApi.Domain/bin/Release/net6.0
/Playground/TestApi.Infra/bin/Release/net6.0
/Playground/TestApi.Infra.CrossCutting/bin/Release/net6.0
/Playground/TestApi.Shared/bin/Release/net6.0
